name: Create Tag/Release

on:
  workflow_dispatch:

jobs:
  create-release:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        with:
          token: ${{ secrets.PAT_TOKEN }}
      - uses: actions/setup-node@v4
        with:
          node-version: '20'
      - run: |
          git config user.name "$GITHUB_ACTOR"
          git config user.email ""
      - run: npm version patch
      - run: |
          git push --all
          git push --tags
